<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p style="text-align:center;"><img src="assets/img/ubicron-logo.png"  width="50%" height="auto" routerLink="/menurobot" alt=""></p>
    
    <ion-button expand="full"  routerLink="/registroinicio">
    Registro
    </ion-button>
    <ion-button expand="full"  routerLink="/quienessomos">
    Quiénes somos
    </ion-button>
    <ion-button expand="full"  routerLink="/soyvictima">
   	¿Soy Victima?
    </ion-button>
     <ion-button expand="full"  routerLink="/quehacer">
    ¿Qué Hacer?
    </ion-button>
     <ion-button expand="full"  routerLink="/recursos">
    Recursos
    </ion-button>
       <ion-button expand="full"  routerLink="/testimonios">
    Testimonios
    </ion-button>
     <ion-button expand="full"  routerLink="/recomendaciones">
    Recomendaciones
    </ion-button>
       <ion-button expand="full"  routerLink="/articulos">
    Artículos
    </ion-button>
</ion-content>
