
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
  <img src="assets/img/{{ imagen }}"/>
  <ion-card-content>
    <ion-card-title>
      Lorem ipsum dolor sit amet
      </ion-card-title>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate tempus hendrerit arcu montes iaculis ligula, dictumst curabitur tempor eleifend sociosqu est molestie augue suscipit per euismod massa. Faucibus vel ultrices orci parturient gravida condimentum consequat netus rutrum laoreet, turpis praesent nam luctus metus quisque commodo scelerisque sociosqu proin, inceptos sapien pulvinar volutpat primis bibendum ac mus potenti. Mollis tincidunt mattis maecenas risus cras tortor praesent accumsan cum quam, nec viverra curabitur dignissim convallis neque vehicula ridiculus per, enim parturient a et luctus ac faucibus velit potenti. <br><br>

Laoreet tristique ligula condimentum et metus tortor sed elementum, eleifend erat tincidunt suscipit morbi nulla ut turpis, phasellus euismod rutrum enim nunc nascetur dis. Proin dictumst risus odio netus vitae ultricies, in dis tempor ultrices justo, ligula fringilla phasellus parturient purus. Nisl urna class fermentum placerat consequat et ad mattis, lobortis convallis cubilia torquent orci magna lacus felis sapien, feugiat cras massa in iaculis rutrum hac.
    </p>
  </ion-card-content>
</ion-card>
</ion-content>
