<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quienes Somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h1>Quienes Somos?</h1>
	<hr>
 <ion-card>
  <img src="assets/img/quienes-somos.png"/>
  <ion-card-content>
    <ion-card-title>
      Nuestro Equipo
      </ion-card-title>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br> <br>

Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.


    </p>
  </ion-card-content>
</ion-card>
</ion-content>
