<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Confirmación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div text-center padding-top padding-right padding-left>
<h2>Gracias por registrate!</h2>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate tempus hendrerit arcu montes iaculis ligula</p>
<p><img src="assets/img/ubicron-logo.png" width="50%" height="auto" alt=""></p>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate tempus hendrerit arcu montes iaculis ligula</p>
</div>
</ion-content>
