<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h1>Recursos</h1>
<ion-card [routerLink]="['/detallepost','victima-1.png']">
  <img src="assets/img/victima-1.png"/>
  <ion-card-content>
    <ion-card-title>
      Lorem ipsum dolor sit amet
      </ion-card-title>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br> <br>


    </p>
  </ion-card-content>
</ion-card>
<ion-card [routerLink]="['/detallepost','victima-2.png']">
  <img src="assets/img/victima-2.png"/>
  <ion-card-content>
    <ion-card-title>
      Lorem ipsum dolor sit amet
      </ion-card-title>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br> <br>


    </p>
  </ion-card-content>
</ion-card>
<ion-card [routerLink]="['/detallepost','victima-3.png']">
  <img src="assets/img/victima-3.png"/>
  <ion-card-content>
    <ion-card-title>
      Lorem ipsum dolor sit amet
      </ion-card-title>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br> <br>


    </p>
  </ion-card-content>
</ion-card>
</ion-content>
